﻿body{
    margin:20px;
}
.logo-head  {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carrito {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mensajePedido {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.rigth {
    margin-left: auto;
}

.productoEnCarro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: groove;
    padding: 12px 12px 10px;
}

.footerCarro {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    border-radius: 1.25rem !important;
}

