﻿<div id="codproducto-cgafas" class="productoEnCarro col-sm-12">
    <strong>Nombre:</strong>
    <label>Gafas</label>
    <strong>Precio:</strong>
    <label>120000</label>
    <input type="number" pattern="^[0-1000]" min="1" style="width:70px" class="form-control" />
    <button type="button" class="btn btn-danger">
        <i class="bi bi-trash"></i>
    </button>
</div>
