﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedalea</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
    <link rel="stylesheet" href="~/js/jquery/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="~/js/jquery/jquery-ui.structure.min.css" type="text/css" />
    <link rel="stylesheet" href="~/js/jquery/jquery-ui.theme.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="logo-head">

        <h2>Tienda Pedalea</h2>
        <a href="/venta/index" class="btn btn-dark rigth">Ventas</a>
        <img class="rigth" style="width:100px" src="~/Images/logo.png" />
    </div>
    <hr />
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/js/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="~/js/jquery/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/Carrito.js"></script>
    <script src="~/js/Pedido.js"></script>
    <script src="~/js/ComponentesHtml.js"></script>
    <script src="~/js/selectors.js"></script>
    <script src="~/js/init.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
