﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var pedidos = (List<Pedalea.Data.Dto.PedidoAgrupadoDto>)ViewBag.MisPedidos;
}
<div id="misPedidos">

    <div class="accordion accordion-flush" id="accordionFlushPedidos">
        @foreach (var pedido in pedidos)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@pedido.Codigo_pedido" aria-expanded="false" aria-controls="@pedido.Codigo_pedido">
                        <strong>Código pedido: </strong> @pedido.Codigo_pedido
                    </button>
                </h2>
                <div id="@pedido.Codigo_pedido" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushPedidos">
                    <div class="accordion-body" style="display: flex; flex-direction: column;">
                        <h5>Productos por pedido</h5>
                        <ol class="list-group list-group-numbered">
                            @foreach (var producto in pedido.Productos)
                            {

                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">@producto.Nombre</div>
                                        @producto.Precio
                                    </div>
                                    <span class="badge bg-primary rounded-pill">@producto.Cantidad</span>
                                </li>
                            }
                        </ol>
                        <br />
                        <div class="rigth">
                            <strong>Total pedido: @pedido.Total_pedido</strong>
                            <button type="button" class="btn btn-danger rigth" onclick="eliminarPedido('@pedido.Codigo_pedido')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        }
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="eliminarPedido" tabindex="-1" aria-labelledby="eliminarPedido" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarPedidoLabel">Elimando pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="display: flex; align-items: center; flex-direction: column; ">
                <p id="mensajeEliminar"></p>
                <div id="estadoEliminar"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="confirmarEliminarPedido()" class="btn btn-primary">Confirmar Pedido</button>
            </div>
        </div>
    </div>
</div>
