﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var productos = (List<PedaleaTech.Dto.ProductoDto>)ViewBag.Productos;

}
<div class="carrito">
    <button type="button" class="btn btn-primary position-relative rigth" data-bs-toggle="offcanvas" href="#offcanvasCarrito" role="button" aria-controls="offcanvasCarrito">
        <i class="bi bi-cart4"></i>
        <span id="cantidadProductos" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            0
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>
</div>
<br />
<div class="row">
    <div class="col-sm-10">
        <div>
            @Html.Partial("~/Views/Shared/Producto/_ProductosPartial.cshtml", productos)
        </div>
    </div>

    @* CARRO DE COMPRAS *@


    <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <form method="get" action="/mipedido/index">
                    <h5 class="card-title">Consulta tus pedidos aquí</h5>
                    <p class="card-text">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" required id="cedula" name="identificacion">
                            <label for="cedula">Cédula</label>
                        </div>


                    </p>
                    <button class="btn btn-primary" type="submit">Consultar pedidos</button>
                </form>
            </div>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCarrito" aria-labelledby="offcanvasCarritoLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasCarritoLabel">Mi Carrito </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div id="Carro">
                    <div class="row" id="listaProductos">

                    </div>

                    <div class="footerCarro">
                        <button id="realizaPedido" class="btn btn-primary" disabled data-bs-toggle="modal" data-bs-target="#confirmarPedido">
                            Realizar Pedido
                        </button>
                        <div class="rigth">
                            <strong>Total-compra: </strong>
                            <label id="totalCompra"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmarPedido" tabindex="-1" aria-labelledby="confirmarPedido" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarPedidoLabel">Falta poco para realizar tu pedido!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mensajePedido">
                    <div id="imgMensaje"></div>
                    <p id="mensajePedidoTxt"></p>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="cedulaClientePedido" placeholder="c.c">
                    <label for="cedulaClientePedido">Cédula:</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="direccionEntrega" placeholder="Calle 131b#154-22">
                    <label for="direccionEntrega">Dirección de entrega</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="confirmarPedido()" class="btn btn-primary">Confirmar Pedido</button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Nuevo producto</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Agregaste un nuevo producto al carrito!
        </div>
    </div>
</div>